.intro {
    padding: 20px;
}

.intro p {
    text-align: justify;
}

.intro li {
    padding: 10px 0;
    line-height: 23px;
}

@media screen and (min-width: 645px){

    .intro{
        padding: 20px 50px;
    }

    .intro h2 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1024px){

    .intro{
        padding: 20px 100px;
    }

    .intro h2 {
        font-size: 1.7em;
    }

    .intro p, .intro li {
        font-size: 14pt;
    }
}


@media screen and (min-width: 1200px){

    .intro{
        padding: 20px 140px;
    }
}